<!DOCTYPE html>
<html lang="zh-HK">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>入院須知</title>
    <style>
        html {
            scroll-behavior: smooth;
        }

        #booking-section {
            scroll-margin-top: -23px; /* 根据你的导航栏高度调整 */
        }
    </style>
</head>
<body>

{% extends 'base.html' %} 
{% load static %}
{% load humanize %}
{% block content %}

<!--information.html-->
<section class="volunteer-section section-padding" id="section_4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12"></div>
                <h2 class="text-white text-center mb-4 ">入院須知</h2>

<!--入院條件-->          
            <section class="testimonial-section section-padding section-bg">            
                <div class="col-lg-12 col-5 ">
                    <div class="mx-auto" style="width:700px">
                    <div class="custom-text-box-center">
                        <h5 class="mb-3">入院條件:</h5>
                        <li>本港居民，60歲或以上，無傳染病或滋擾性行為均可入住 (60歲以下人士，證實有服務需要，亦可申請)。</li>
                        <br>
                        <li>無不良嗜好，精神狀態適合過群體生活。</li>
                        </div>
                    </div>
                </div>
            </section>
<hr>
<!--訂房程序-->   
                <div class="col-lg-6 col-12">
                    <div class="custom-text-box">
                        <h5 class="mb-3">訂房程序:</h5>
                        <li>由院友，家屬，朋友或社工參觀院舍及訂定床位
                            <br>
                                A. 兩週內入住交訂金1,000元;<br>
                                B. 一個月內入住交訂金2,000元;<br>
                                C. 一個月後人住交訂金為一個月院費<br>
                            </li>
                    <br>
                        <li>入院訂金於正式入住時，在院費內扣還，唯中途放棄入住者，則 所繳入院訂金 一概不發還，一個月內身故者收取訂金半費</li>
                    <br>
                        <li>安排住客接受免費身體檢查以及填寫相關入住文件</li>
                    </div>
                </div>
<!--入院程序-->
                <div class="col-lg-6 col-12">
                    <div class="custom-text-box">
                        <h5 class="mb-3">入院程序:</h5>
                        <li>帶院友身份証影印本一份</li>
                    <br>
                        <li>填寫入院記錄</li>
                    <br>
                        <li>缴交院費:上期一個月及按金一個月</li>
                    <br>
                        <li>院友如退院必須提前30天通知,否則不予退還按金</li>
                    <br>
                        <li>退院時如入住不足半個月院費按半個月算，超過半個月則按整月算</li>
                    </div>
                </div>
<hr>
<!--新院友日常用品建議帶備清單-->
                <div class="col-lg-6 col-12">
                    <div class="custom-text-box">
                        <h5 class="mb-3">新院友帶備物品建議清單:</h5>

                            <div class="row">
                                <div class="col-6" style="border: 1px solid #fff">輕便睡衣(褲-橡筋褲頭)</div>
                                <div class="col-3" style="border: 1px solid #fff"> </div>
                                <div class="col-3" style="border: 1px solid #fff">4套</div>
                            </div>
                            
                            <div class="row">
                                <div class="col-6" style="border: 1px solid #fff">外套、冬季禦寒衣</div>
                                <div class="col-3" style="border: 1px solid #fff"> </div>
                                <div class="col-3" style="border: 1px solid #fff">各1件</div>
                            </div>

                            <div class="row">
                                <div class="col-6" style="border: 1px solid #fff">鞋襪、拖鞋</div>
                                <div class="col-3" style="border: 1px solid #fff"> </div>
                                <div class="col-3" style="border: 1px solid #fff">各1件</div>
                            </div>
                            
                            <div class="row">
                                <div class="col-6" style="border: 1px solid #fff">浴巾、面巾</div>
                                <div class="col-3" style="border: 1px solid #fff"> </div>
                                <div class="col-3" style="border: 1px solid #fff">各2條</div>
                            </div>

                            <div class="row">
                                <div class="col-6" style="border: 1px solid #fff">電鬚刨(男院友適用)</div>
                                <div class="col-3" style="border: 1px solid #fff"> </div>
                                <div class="col-3" style="border: 1px solid #fff">1個</div>
                            </div>

                            <div class="row">
                                <div class="col-6" style="border: 1px solid #fff">有蓋水杯、水壺</div>
                                <div class="col-3" style="border: 1px solid #fff"> </div>
                                <div class="col-3" style="border: 1px solid #fff">各1件</div>
                            </div>

                            <div class="row">
                                <div class="col-6" style="border: 1px solid #fff">廁紙、盒裝濕紙巾</div>
                                <div class="col-3" style="border: 1px solid #fff"> </div>
                                <div class="col-3" style="border: 1px solid #fff">各1件</div>
                            </div>

                            <div class="row">
                                <div class="col-9" style="border: 1px solid #fff">牙膏、牙刷、漱口膠杯(如有假牙請帶備假牙盒)</div>
                                <div class="col-3" style="border: 1px solid #fff">各1件</div>
                            </div>

                            <div class="row">
                                <div class="col-6" style="border: 1px solid #fff">潤膚露</div>
                                <div class="col-3" style="border: 1px solid #fff"> </div>
                                <div class="col-3" style="border: 1px solid #fff">1件</div>
                            </div>

                            <div class="row">
                                <div class="col-6" style="border: 1px solid #fff">膠底圍裙</div>
                                <div class="col-3" style="border: 1px solid #fff"> </div>
                                <div class="col-3" style="border: 1px solid #fff">2件</div>
                            </div>

                            <div class="row">
                                <div class="col-6" style="border: 1px solid #fff">洗衣網袋</div>
                                <div class="col-3" style="border: 1px solid #fff"> </div>
                                <div class="col-3" style="border: 1px solid #fff">1個</div>
                            </div>

                            <div class="row">
                                <div class="col-6" style="border: 1px solid #fff">膠箱</div>
                                <div class="col-3" style="border: 1px solid #fff"> </div>
                                <div class="col-3" style="border: 1px solid #fff">1個</div>
                            </div>


                            <div class="row">
                                <div class="col-6" style="border: 1px solid #fff">細垃圾箱</div>
                                <div class="col-3" style="border: 1px solid #fff"> </div>
                                <div class="col-3" style="border: 1px solid #fff">1個</div>
                            </div>
                    
                    <br>

                    </div>
                </div>

<!--新院友建議準備的醫療用品&紙本文件-->                        
<!--新院友建議準備的紙本文件-->
                <div class="col-lg-6 col-12" >
                    <div class="custom-text-box">
                        <h5 class="mb-3">新院友建議準備的紙本文件:</h5>

                        <div class="row">
                            <div class="col-6" style="border: 1px solid #fff">安老院體格檢查報告</div>
                            <div class="col-3" style="border: 1px solid #fff"> </div>
                            <div class="col-3" style="border: 1px solid #fff">1份</div>
                        </div>

                        <div class="row">
                            <div class="col-6" style="border: 1px solid #fff">出院紙、覆診紙</div>
                            <div class="col-3" style="border: 1px solid #fff"> </div>
                            <div class="col-3" style="border: 1px solid #fff">1份</div>
                        </div>

                        <br>
<!--新院友醫療用品建議帶備清單-->   
                        <h5 class="mb-3">新院友醫療用品建議帶備清單(按需要):</h5>

                        <div class="row">
                            <div class="col-6" style="border: 1px solid #fff">助行器(標記名字)</div>
                            <div class="col-3" style="border: 1px solid #fff"> </div>
                            <div class="col-3" style="border: 1px solid #fff">1個</div>
                        </div>

                        <div class="row">
                            <div class="col-6" style="border: 1px solid #fff">輪椅(標記名字)</div>
                            <div class="col-3" style="border: 1px solid #fff"> </div>
                            <div class="col-3" style="border: 1px solid #fff">1個</div>
                        </div> 
                        
                        <div class="row">
                            <div class="col-6" style="border: 1px solid #fff">驗血糖機,血糖試紙,採血針頭</div>
                            <div class="col-3" style="border: 1px solid #fff"> </div>
                            <div class="col-3" style="border: 1px solid #fff">適當數量</div>
                        </div> 

                        <div class="row">
                            <div class="col-6" style="border: 1px solid #fff">日常服用藥物</div>
                            <div class="col-3" style="border: 1px solid #fff"> </div>
                            <div class="col-3" style="border: 1px solid #fff">適當數量</div>
                        </div> 

                        <br>

                    </div>
    <div id="booking-section">
<!-- 这里是你要跳转到的内容 -->
    </div>  
                </div>
<hr>

<!--預約參觀表格+護老小知識link button-->  
<body>
    <label for="meeting-time">日期及時間:</label>
    <input
      type="datetime-local"
      id="meeting-time"
      name="meeting-time"
      value=""
      min=""
      max=""
    />
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var currentTime = new Date();
            var minTime = new Date(currentTime);
            minTime.setDate(currentTime.getDate() + 1);
            minTime.setHours(10, 0, 0, 0);

            var maxTime = new Date(currentTime);
            maxTime.setDate(currentTime.getDate() + 7);
            maxTime.setHours(18, 0, 0, 0);

            var meetingTimeInput = document.getElementById("meeting-time");
            meetingTimeInput.setAttribute("min", minTime.toISOString().slice(0, 16));
            meetingTimeInput.setAttribute("max", maxTime.toISOString().slice(0, 16));
        });
    </script>
</body> 
        <div class="row">
            <div class="col-lg-6 col-12 text-center">
                <h3 class="text-white mb-1">預約參觀</h3>

                <form class="custom-form volunteer-form mb-5 mb-lg-0" action="#" method="post" role="form">
                    <h5 class="mb-4">立即預約參觀</h5>

                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <input type="text" name="volunteer-name" id="volunteer-name" class="form-control"
                                placeholder="Jack Doe" required />
                        </div>

                        <div class="col-lg-6 col-12">
                            <input type="email" name="volunteer-email" id="volunteer-email"
                                pattern="[^ @]@[^ @]" class="form-control" placeholder="Jackdoe@gmail.com"
                                required />
                        </div>

                        <div class="col-lg-6 col-12">
                            <input type="text" name="volunteer-subject" id="volunteer-subject"
                                class="form-control" placeholder="Subject" required />
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="input-group input-group-file">
                                <input type="file" class="form-control" id="inputGroupFile02" />

                                <label class="input-group-text" for="inputGroupFile02">Upload your CV</label>

                                <i class="bi-cloud-arrow-up ms-auto"></i>
                            </div>
                        </div>
                    </div>

                    <textarea name="volunteer-message" rows="3" class="form-control" id="volunteer-message"
                        placeholder="Comment (Optional)"></textarea>

                    <button type="submit" class="form-control">Submit</button>
                </form>
            </div>

            <div class="col-lg-6 col-12">
                
                <img src={% static "images/smiling-casual-woman-dressed-volunteer-t-shirt-with-badge.jpg" %}
                    class="volunteer-image img-fluid mt-5" alt="" />

<!-- link to 護老小知識.html -->
            <div class="custom-block-body text-center">
                <h4 class="text-white mt-lg-3 mb-lg-3"> 想知更多護老小知識？</h4>
                <p class="text-white">
                    <a href={% url "guideline" %} class="custom-btn btn smoothscroll">點擊這裏</a>
                </p>
            </div>
            
        </div>
        </div>
    </div>
</section>
{% endblock %}

</body>