
<!--information.html-->
<section class="volunteer-section section-padding" id="section_4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12"></div>
                <h2 class="text-white text-center mb-4 ">入院須知</h2>

<!--入院條件-->          
            <section class="testimonial-section section-padding section-bg">            
                <div class="col-lg-12 col-5 ">
                    <div class="mx-auto" style="width:700px">
                    <div class="custom-text-box-center">
                        <h5 class="mb-3">入院條件:</h5>
                        <li>本港居民，60歲或以上，無傳染病或滋擾性行為均可入住 (60歲以下人士，證實有服務需要，亦可申請)。</li>
                        <br>
                        <li>無不良嗜好，精神狀態適合過群體生活。</li>
                        </div>
                    </div>
                </div>
            </section>
<hr>
<!--訂房程序-->   
                <div class="col-lg-6 col-12">
                    <div class="custom-text-box">
                        <h5 class="mb-3">訂房程序:</h5>
                        <li>由院友，家屬，朋友或社工參觀院舍及訂定床位
                            <br>
                                A. 兩週內入住交訂金1,000元;<br>
                                B. 一個月內入住交訂金2,000元;<br>
                                C. 一個月後人住交訂金為一個月院費<br>
                            </li>
                    <br>
                        <li>入院訂金於正式入住時，在院費內扣還，唯中途放棄入住者，則 所繳入院訂金 一概不發還，一個月內身故者收取訂金半費</li>
                    <br>
                        <li>安排住客接受免費身體檢查以及填寫相關入住文件</li>
                    </div>
                </div>
<!--入院程序-->
                <div class="col-lg-6 col-12">
                    <div class="custom-text-box">
                        <h5 class="mb-3">入院程序:</h5>
                        <li>帶院友身份証影印本一份</li>
                    <br>
                        <li>填寫入院記錄</li>
                    <br>
                        <li>缴交院費:上期一個月及按金一個月</li>
                    <br>
                        <li>院友如退院必須提前30天通知,否則不予退還按金</li>
                    <br>
                        <li>退院時如入住不足半個月院費按半個月算，超過半個月則按整月算</li>
                    </div>
                </div>
<hr>
<!--新院友日常用品建議帶備清單-->
                <div class="col-lg-6 col-12">
                    <div class="custom-text-box">
                        <h5 class="mb-3">新院友帶備物品建議清單:</h5>
                        <table cellspacing="10"> 
                            <tr>
                                <td>輕便睡衣(褲-橡筋褲頭)</td>
                                <td>4套</td>
                            </tr>
                            <tr>
                                <td>外套、鞋襪、拖鞋、冬季禦寒衣物 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>各1件</td>
                            </tr>
                            <tr>
                                <td>浴巾、面巾</td>
                                <td>各2條</td>
                            </tr>
                            <tr>
                                <td>電鬚刨(男院友適用)</td>
                                <td>1個</td>
                            </tr>
                            <tr>
                                <td>有蓋水杯、水壺</td>
                                <td>各1件</td>
                            </tr>
                            <tr>   
                                <td>廁紙、盒裝濕紙巾</td>
                                <td>各1件</td> 
                            </tr>
                            <tr>
                                <td>牙膏、牙刷、漱口膠杯<br>
                                    (如有假牙請帶備假牙盒)</td>
                                <td>各1件</td>
                            </tr>
                            <tr>
                                <td>潤膚露</td>
                                <td>1件</td>
                            </tr>
                            <tr>
                                <td>膠底圍裙</td>
                                <td>2件</td>
                            </tr>
                            <tr>
                                <td>洗衣網袋</td>
                                <td>1個</td>
                            </tr>
                            <tr>
                                <td>膠箱</td>
                                <td>1個</td>
                            </tr>
                            <tr>
                                <td>細垃圾箱</td>
                                <td>1個</td>
                            </tr>
                        </table>
                    
                    <br>

                    </div>
                </div>

<!--新院友建議準備的醫療用品&紙本文件-->                        
<!--新院友建議準備的紙本文件-->
                <div class="col-lg-6 col-12">
                    <div class="custom-text-box">
                        <h5 class="mb-3">新院友建議準備的紙本文件:</h5>
                        <table cellspacing="10"> 
                        <tr>
                            <td>安老院體格檢查報告&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>1份</td>
                        </tr>
                        <tr>
                            <td>出院紙、覆診紙</td>
                            <td>1份</td>
                        </tr>
                        </table>

                        <br>
<!--新院友醫療用品建議帶備清單-->   
                        <h5 class="mb-3">新院友醫療用品建議帶備清單(按需要):</h5>
                        <table cellspacing="10"> 
                            <tr>
                                <td>助行器(標記名字)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>1個</td>
                            </tr>
                            <tr>
                                <td>輪椅(標記名字)</td>
                                <td>1輛</td>
                            </tr>
                        </table>     
                        
                        <br>

                        <table>
                            <tr>
                                <td>驗血糖機&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td rowspan="4">適當數量</td>
                            </tr>
                            <tr>   
                                <td>血糖試紙</td>
                            </tr>
                            <tr>   
                                <td>採血針頭</td>
                            </tr>
                            <tr>   
                                <td>日常服用藥物</td>
                        </table>
                    </div>
                </div>

<hr>


<!--預約參觀表格+護老小知識link button-->     
        <div class="row">
            <div class="col-lg-6 col-12 text-center">
                <h3 class="text-white mb-1">預約參觀</h3>

                <form class="custom-form volunteer-form mb-5 mb-lg-0" action="#" method="post" role="form">
                    <h5 class="mb-4">立即預約參觀</h5>

                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <input type="text" name="volunteer-name" id="volunteer-name" class="form-control"
                                placeholder="Jack Doe" required />
                        </div>

                        <div class="col-lg-6 col-12">
                            <input type="email" name="volunteer-email" id="volunteer-email"
                                pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Jackdoe@gmail.com"
                                required />
                        </div>

                        <div class="col-lg-6 col-12">
                            <input type="text" name="volunteer-subject" id="volunteer-subject"
                                class="form-control" placeholder="Subject" required />
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="input-group input-group-file">
                                <input type="file" class="form-control" id="inputGroupFile02" />

                                <label class="input-group-text" for="inputGroupFile02">Upload your CV</label>

                                <i class="bi-cloud-arrow-up ms-auto"></i>
                            </div>
                        </div>
                    </div>

                    <textarea name="volunteer-message" rows="3" class="form-control" id="volunteer-message"
                        placeholder="Comment (Optional)"></textarea>

                    <button type="submit" class="form-control">Submit</button>
                </form>
            </div>

            <div class="col-lg-6 col-12">
                
                <img src="images/smiling-casual-woman-dressed-volunteer-t-shirt-with-badge.jpg"
                    class="volunteer-image img-fluid mt-5" alt="" />

<!-- link to 護老小知識.html -->
            <div class="custom-block-body text-center">
                <h4 class="text-white mt-lg-3 mb-lg-3"> 想知更多護老小知識？</h4>
                <p class="text-white">
                    <a href="#section_4" class="custom-btn btn smoothscroll">點擊這裏</a>
                </p>
            </div>
            
        </div>
        </div>
    </div>
</section>

<!--院友心聲-->
<section class="testimonial-section section-padding section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <h2 class="mb-lg-3">院友心聲</h2>

                <div id="testimonial-carousel" class="carousel carousel-fade slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-caption">
                                <h4 class="carousel-title">
                                    今天天氣很好
                                </h4>

                                <small class="carousel-name"><span class="carousel-name-title">陳大文</span>
                                    </small>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="carousel-caption">
                                <h4 class="carousel-title">
                                    我愛吃蕃茄
                                </h4>

                                <small class="carousel-name"><span class="carousel-name-title">陳小明</span>
                                    </small>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="carousel-caption">
                                <h4 class="carousel-title">
                                    今天天氣炎熱
                                </h4>

                                <small class="carousel-name"><span class="carousel-name-title">陳小雯</span>
                                    </small>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="carousel-caption">
                                <h4 class="carousel-title">
                                    今日好凍
                                </h4>

                                <small class="carousel-name"><span class="carousel-name-title">陳美玲</span>
                                    </small>
                            </div>
                        </div>

                        <ol class="carousel-indicators">
                            <li data-bs-target="#testimonial-carousel" data-bs-slide-to="0" class="active">
                                <img src="images/avatar/portrait-beautiful-young-woman-standing-grey-wall.jpg"
                                    class="img-fluid rounded-circle avatar-image" alt="avatar" />
                            </li>

                            <li data-bs-target="#testimonial-carousel" data-bs-slide-to="1" class="">
                                <img src="images/avatar/portrait-young-redhead-bearded-male.jpg"
                                    class="img-fluid rounded-circle avatar-image" alt="avatar" />
                            </li>

                            <li data-bs-target="#testimonial-carousel" data-bs-slide-to="2" class="">
                                <img src="images/avatar/pretty-blonde-woman-wearing-white-t-shirt.jpg"
                                    class="img-fluid rounded-circle avatar-image" alt="avatar" />
                            </li>

                            <li data-bs-target="#testimonial-carousel" data-bs-slide-to="3" class="">
                                <img src="images/avatar/studio-portrait-emotional-happy-funny.jpg"
                                    class="img-fluid rounded-circle avatar-image" alt="avatar" />
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
