{% load static %}
<!--_footer.html-->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 mb-4">
                <img src={% static "images/logo.png" %} class="logo img-fluid" alt="" />
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-4">
                <h5 class="site-footer-title mb-3">Quick Links</h5>

                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">Our Story</a>
                    </li>

                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">Newsroom</a>
                    </li>

                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">Causes</a>
                    </li>

                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">Become a volunteer</a>
                    </li>

                    <li class="footer-menu-item">
                        <a href="#" class="footer-menu-link">Partner with us</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mx-auto">
                <h5 class="site-footer-title mb-3">聯絡資訊</h5>

                <p class="text-white d-flex mb-2">
                    <i class="fa-solid fa-phone" style="margin-bottom: 5px; margin-right: 5px;"></i>
                
                    <a href="tel: 120-240-9600" class="site-footer-link">
                        2110 1639
                    </a>
                </p>

                <p class="text-white d-flex">
                    <i class="fa-sharp fa-regular fa-envelope" style="margin-bottom: 5px; margin-right: 5px;"></i>

                    <a href="mailto:info@yourgmail.com" class="site-footer-link">
                        limcheelee@gmail.com
                    </a>
                </p>

                <p class="text-white d-flex mt-3">
                    <i class="fa-solid fa-location-dot" style="margin-bottom: 5px; margin-right: 5px;"></i>
                    九龍紅磡土瓜灣馬頭圍道360號好運樓1-2樓（土瓜灣街市對面）
                </p>

                <a href="https://www.google.com/maps/place/%E5%9C%9F%E7%93%9C%E7%81%A3%E9%A6%AC%E9%A0%AD%E5%9C%8D%E9%81%93360%E8%99%9F/@22.318185,114.187368,18z/data=!4m6!3m5!1s0x340400d768d0ed2b:0xc070e5e699dfb552!8m2!3d22.3181854!4d114.1873676!16s%2Fg%2F11v_46tsky?hl=zh-TW&entry=ttu&g_ep=EgoyMDI0MDkxMS4wIKXMDSoASAFQAw%3D%3D" class="custom-btn btn mt-3">Gets Direction</a>
            </div>
        </div>
    </div>
<!--_site-footer-->
    <div class="site-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7 col-12">
                    <p class="copyright-text mb-0">
                        Copyright © 2024 <a href="#"></a>平安護老院有限公司
                        <a href="#" target="_blank"></a>
                    </p>
                </div>

                <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center align-items-center mx-auto">
                    <ul class="social-icon">
                        <li class="social-icon-item">
                            <a href="#" class="">
                                <i class="fa-brands fa-x-twitter"></i>
                            </a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
