{% load static %}

<!--_topbar.html-->
<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 d-flex flex-wrap">
                <p class="d-flex me-4 mb-0">
                    <i class="fa-solid fa-location-dot" style="margin-bottom: 5px; margin-right: 5px;"></i>
                    九龍紅磡土瓜灣馬頭圍道360號好運樓1-2樓（土瓜灣街市對面）
                    </p>

                <p class="d-flex mb-0">
                    <i class="fa-sharp fa-regular fa-envelope" style="margin-bottom: 5px; margin-right: 5px;"></i>
                    <a href="mailto:info@company.com"> limcheelee@gmail.com </a>
                </p>
            </div>

            <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
                <ul class="social-icon">
                    <li class="social-icon-item">
                        <a href="#" class="">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>

                    <li class="social-icon-item">
                        <a href="#" class="">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
