{% extends 'base.html' %} 
{% load humanize %}
{% load static %}
{% block title %} | 登錄 {% endblock %}
{% block content %}
<!--login.html-->
<style>
    .input-group {
        position: relative;
    }

    .input-group-text {
        position: absolute;
        right: -1.9px;
        top: 33.5%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 2.5em; /* 放大眼睛圖標 */
        z-index: 5; /* 增加層級 */
    }

    .form-control {
        padding-right: 41px; /* 為眼睛圖標騰出空間 */
    }
</style>

<section class="contact-section section-padding" id="section_6">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 col-12 mx-auto text-center">
            {% include 'partials/_alert.html' %}
              <form class="custom-form contact-form" action="{% url 'login' %}" method="POST" role="form">
                {% csrf_token %}
                  <h2>登錄</h2>

                  <p class="mb-4">
                      
                      <a href="#"></a>
                  </p>
                  <input type="text" name="username" id="username" class="form-control"
                      placeholder="登錄名稱" required />

                  <div class="input-group">
                      <input type="password" name="password" id="password" class="form-control"
                          placeholder="密碼" required />
                      <span class="input-group-text" id="togglePassword">
                          <i class="fa fa-eye" id="eyeIcon"></i>
                      </span>
                  </div>

                  <button type="submit" class="form-control"><i class="fa-solid fa-right-to-bracket"></i> 登錄</button>
              </form>
          </div>
      </div>
  </div>
</section>
</main>

<script>
document.getElementById('togglePassword').addEventListener('click', function () {
    const passwordField = document.getElementById('password');
    const eyeIcon = document.getElementById('eyeIcon');

    if (passwordField.type === "password") {
        passwordField.type = "text";
        eyeIcon.classList.remove('fa-eye');
        eyeIcon.classList.add('fa-eye-slash');
    } else {
        passwordField.type = "password";
        eyeIcon.classList.remove('fa-eye-slash');
        eyeIcon.classList.add('fa-eye');
    }
});
</script>

{% endblock %}