{% extends 'base.html' %} 
{% load static %}
{% load humanize %}
{% block content %}
<section class="section-padding section-bg" id="section_2">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-12 text-center mx-auto">
                <h2 class="mb-5">關於我們</h2>
            </div>

            <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                <img src={% static "images/group-people-volunteering-foodbank-poor-people.jpg" %} 
                    class="custom-text-box-image img-fluid" alt="" />
            </div>

            <div class="col-lg-6 col-12">
                <div class="custom-text-box">
                    <blockquote class="blockquote mb-3">
                        <p>在至高之處榮耀歸於神，在地上平安歸於祂所喜悅的人。</p>
                        <footer class="blockquote-footer text-right">
                            路加福音二章 十四節
                        </footer>
                    </blockquote>

                    <h5 class="mb-3">我們的宗旨</h5>

                    <p class="mb-0">
                        本院竭力將平安，仁愛，關懷，喜樂帶進各院友生活和生命當中，讓長者心身靈得到健康。家人得安心，照顧院友起居及護理更是我們的本分，我們樂意實踐愛護關懷尊重的事奉，發揚敬老的美德，讓長者安享愉快的晚年。
                    </p>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="custom-text-box mb-lg-0">
                            <h5 class="mb-3">專業團隊</h5>

                            <p>提供全面專業護理讓長者得到合適的照顧</p>

                            <ul class="custom-list mt-2">
                                <li class="custom-list-item d-flex">
                                    <i class="bi-check custom-text-box-icon me-2"></i>
                                    西醫
                                </li>

                                <li class="custom-list-item d-flex">
                                    <i class="bi-check custom-text-box-icon me-2"></i>
                                    中醫
                                </li>

                                <li class="custom-list-item d-flex">
                                    <i class="bi-check custom-text-box-icon me-2"></i>
                                    護士
                                </li>

                                <li class="custom-list-item d-flex">
                                    <i class="bi-check custom-text-box-icon me-2"></i>
                                    物理治療師
                                </li>

                                <li class="custom-list-item d-flex">
                                    <i class="bi-check custom-text-box-icon me-2"></i>
                                    保健員
                                </li>

                                <li class="custom-list-item d-flex">
                                    <i class="bi-check custom-text-box-icon me-2"></i>
                                    護理員
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="custom-text-box d-flex flex-wrap d-lg-block mb-lg-0 ">
                            <div class="counter-thumb">
                                <div class="d-flex  ">
                                    <span class="counter-number " data-from="1" data-to="10000"
                                        data-speed="500"></span>
                                    <span class="counter-number-text"></span>
                                </div>

                                <span class="counter-text">建築面積</span>
                            </div>

                            <div class="counter-thumb mt-4">
                                <div class="d-flex">
                                    <span class="counter-number" data-from="1" data-to="6000"
                                        data-speed="700"></span>
                                    <span class="counter-number-text"></span>
                                </div>

                                <span class="counter-text">實用面積</span>
                            </div>

                            <div class="counter-thumb mt-4">
                                <div class="d-flex">
                                    <span class="counter-number" data-from="1" data-to="80"
                                        data-speed="700"></span>
                                    <span class="counter-number-text"></span>
                                </div>

                                <span class="counter-text">床位</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--about-負責人-->
<section class="about-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5 col-12">
                <img src={% static "images/portrait-volunteer-who-organized-donations-charity.jpg" %} 
                    class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="" />
            </div>

            <div class="col-lg-5 col-md-7 col-12">
                <div class="custom-text-block">
                    <h2 class="mb-0">Sandy Chan</h2>

                    <p class="text-muted mb-lg-4 mb-md-4">Co-Founding Partner</p>

                    <p>
                        Lorem Ipsum dolor sit amet, consectetur adipsicing kengan omeg
                        kohm tokito Professional charity theme based
                    </p>

                    <p>
                        You are not allowed to redistribute this template ZIP file on
                        any other template collection website. Please contact
                        TemplateMo for more information.
                    </p>

                    <ul class="social-icon mt-4">
                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-twitter"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-facebook"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-instagram"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--about link to booking from section-->
<section class="cta-section section-padding section-bg">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 col-12 ms-auto">
                <h2 class="mb-0">
                    平安護老院 <br />
                    歡迎預約參觀
                </h2>
            </div>

            <div class="col-lg-5 col-12">
                <a href={% url "information" %} class="me-4"> 了解更多資訊 </a>

                <a href={% url "information" %} class="custom-btn btn smoothscroll">
                    立即預約</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}