{% extends 'base.html' %} 
{% block title %} | 首頁 {% endblock %}
{% load static %}
{% load humanize %}
{% block content %}
<!--index.html-->
<section class="hero-section hero-section-full-height">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12 p-0">
                {% include 'partials/_alert.html' %}
                <div id="hero-slide" class="carousel carousel-fade slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="2500">
                            <img src="{% static 'images/slide/volunteer-helping-with-donation-box.jpg' %}"
                                class="carousel-image img-fluid" alt="..." />

                            <div class="carousel-caption d-flex flex-column justify-content-end text-center">
                                <h1>平安</h1>

                                <p>將平安，仁愛，關懷，喜樂帶進各院友生活和生命當中</p>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="5000">
                            <img src="{% static 'images/slide/volunteer-selecting-organizing-clothes-donations-charity.jpg' %}" 
                                class="carousel-image img-fluid" alt="..." />

                            <div class="carousel-caption d-flex flex-column justify-content-end text-center">
                                <h1>仁愛</h1>

                                <p>將平安，仁愛，關懷，喜樂帶進各院友生活和生命當中</p>
                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="5000">
                            <img src="{% static 'images/different-people-doing-volunteer-work.jpg' %}" 
                                class="carousel-image img-fluid" alt="..." />

                            <div class="carousel-caption d-flex flex-column justify-content-end text-center">
                                <h1>關懷</h1>

                                <p>將平安，仁愛，關懷，喜樂帶進各院友生活和生命當中</p>
                            </div>
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#hero-slide"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#hero-slide"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!--index 4大按鈕-->
<section class="section-padding">
    <div class="container">
        <div class="row">
<!--title of 4 button-->
            <div class="col-lg-10 col-12 text-center mx-auto">
                <h2 class="mb-5">歡迎來到平安護老院</h2>
            </div>
<!--about button-->
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a href="{% url 'about' %}" class="d-block">
                        <img src="{% static 'images/icons/receive.png' %}"  width="150" height="150" class="featured-block-image img-fluid" alt="" />

                        <p class="featured-block-text"><strong>關於我們</strong></p>
                    </a>
                </div>
            </div>

<!--environment button-->
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a href="{% url 'environment' %}" class="d-block">
                        <img src="{% static 'images/icons/heart.png' %}" width="150" height="150" class="featured-block-image img-fluid" alt="" />

                        <p class="featured-block-text"><strong>院舍環境</strong></p>
                    </a>
                </div>
            </div>

<!--information button-->
            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <div class="featured-block d-flex justify-content-center align-items-center">
                    <a href="{% url 'information' %}" class="d-block">
                        <img src="{% static 'images/icons/hands.png' %}" width="150" height="150" class="featured-block-image img-fluid" alt="" />

                        <p class="featured-block-text"><strong>入院須知</strong></p>
                    </a>
                </div>
            </div>
<!--news button-->
                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="{% url 'news' %}" class="d-block">
                                <img src="{% static 'images/icons/scholarship.png' %}" width="150" height="150" class="featured-block-image img-fluid" alt="" />

                                <p class="featured-block-text"><strong>院舍消息</strong></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- JAVASCRIPT -->
<script src={% static "js/custom.js" %}></script>
<script src={% static "js/jquery.min.js" %}></script>
{% endblock %}