{% extends 'admin/base.html' %}
<!-- comment -->
{% load static %} 
<!-- load static block -->
{% block branding %}
<h1 style="background-color: transparent" id="head">
    <img 
     src="{% static 'images/logo.png' %}" 
     alt="平安護老院網站管理後台" 
     height="55" 
     width="65" 
     class="brand_img"
 />
    <span style="vertical-align: middle; margin-left: 10px;">平安護老院網站管理後台</span>
</h1>
{% endblock %}
    add CSS style
<!--add CSS style -->
{% block extrastyle %} 
<!--add CSS link -->
<link rel="stylesheet" href="{% static 'css/admin.css' %}" /> 
{% endblock %}