{% extends 'base.html' %} 
{% block title %} | 院舎消息 {% endblock %}
{% load humanize %}
{% load static %}
{% load custom_filters %}
{% block content %}

<section class="volunteer-section section-padding" id="section_4">
    <div class="container">

        <section class="testimonial-section section-padding section-bg">
            <div class="col-lg-12 col-12 ">
                <div class="text-center" >
                    <h8>院舍消息</h8>
                </div>
            </div>
        </section>

<!--search bar-->

    <section>
        <form class="custom-form search-form" action={% url 'search' %} method="get">
            {% csrf_token %}
            <input 
            type="text"
            name="title"
            class="form-control"  
            placeholder="搜 尋 院 舍 消 息" 
            value={{ values.title }}
            >
        
            <button type="submit" class="form-control"> 
                <i class="bi-search"></i>
            </button>
        </form>
    </section>


<section>

    <!--news-->
        <div class="custom-text-box_2">
        <div class="row">
            {% if news %}
                {% for new in news %}            
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0 my-5">
                    <div class="custom-block-wrap">

                    <img src="{{new.photo_main.url}}"
                        class="custom-block-image" alt="" />

                    <div class="custom-block">
                    <div class="custom-block-body">
                        <h5 class="text-center">{{new.title}}</h5> 
                        
                            <i class="bi-calendar4 custom-icon me-1"></i>
                            {{new.list_date|date:"Y年m月d日 H:i"}} <br>
                            <i class="bi-calendar4 custom-icon me-1"></i>
                            <span> {{ new.list_date| timesince_zh }} </span>

                                <h7 class="col-sm-6 col-md-8 col-lg-9 col-xl-10 text-right" >
                                    {{new.description}}
                                </h7>   
                    </div>
                    </div>

                    <div class="container " style="width:200px" >            
                        <a href={% url "new" new.id %} class="custom-btn btn smoothscroll" style="width:180px"
                        >查看更多
                        </a>
                    </div>
                            
                    <br>
                </div>
        </div>
            {% endfor %}
            {% else %}
            <div class="col-md-12">
                <p>暫時未能提供院舍消息</p>
            </div>
            {% endif%}

    <!--pagination-->

        <div class="row">
            <div class="col-md-12">
    
            <br>

            <!-- pagination part of the code -->
            {% if news.has_other_pages %}
                <ul class="pagination">
            {% if news.has_previous %}
                <li class="page-item">
                    <a href="?page={{news.previous_page_number}}"
                    class="page-link">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
                    
            {% endif %}
                    
            <!--Use for loop to gen page numbers-->
            {% for i in news.paginator.page_range %}
            <!-- check current page, then change the button color-->
            {% if news.number == i %}
                <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href=?page={{i}}>{{i}}</a>
                </li>
            {% endif %}
            {% endfor %}
        
            <!-- next button-->
            {% if news.has_next %}
                <li class="page-item">
                    <a href="?page={{news.next_page_number}}" 
                        class="page-link">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            {% endif %}
                </ul>
            {% endif %}
            </div>
        </div>


        </div>
        </div>
    </section>


    </div>
</section>

{% endblock %}